.container-user-data {
  min-height: 10vh;
  border-radius: 0 0 60px 0 !important;
  -moz-border-radius: 0 0 60px 0 !important;
  -webkit-border-radius: 0 0 60px 0 !important;
}

.text-email {
  inline-size: 240px;
  overflow-wrap: break-word;
}
