<div class="overflow-y-auto p-4">
    <div class="flex items-center justify-center">
        <div class="relative bg-white dark:bg-gray-800 rounded-lg w-80">
            <!-- Contenido del modal -->
            <div class="p-4">
                <!-- Encabezado del modal -->
                <div class="flex items-center justify-end">
                    <!-- Botón para cerrar el modal -->
                    <button [mat-dialog-close]="false"
                            class="text-gray-400 hover:text-gray-600 dark:text-gray-500 dark:hover:text-gray-400 focus:outline-none">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                             stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M6 18L18 6M6 6l12 12"/>
                        </svg>
                    </button>
                </div>
                <!-- Contenido del modal (título, descripción, icono) -->
                <div class="mt-4">
                    <div class="flex items-center justify-center">
                        <!-- Icono -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 text-blue-500 dark:text-blue-300"
                             fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M13 10V3L4 14h7v7l9-11h-7z"/>
                        </svg>
                    </div>
                    <!-- Título y descripción -->
                    <div class="mt-4 text-center">
                        <h3 class="text-lg font-bold text-gray-900 dark:text-white mb-2">¿Estás seguro?</h3>
                        <p class="text-gray-600 dark:text-gray-300">Esto realizará una acción irreversible.</p>
                    </div>
                </div>
                <!-- Botones de confirmación -->
                <div class="mt-6 flex justify-end space-x-2">
                    <!-- Botón de cancelar -->
                    <button [mat-dialog-close]="false" btn-color color="danger">
                        Cancelar
                    </button>
                    <!-- Botón de confirmar -->
                    <button [mat-dialog-close]="true" btn-color color="primary">
                        Confirmar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
