<div class="w-full p-6">
    <div class="mb-4">
        <h2 class="text-xl font-semibold text-gray-900 dark:text-white">Asistencias</h2>
    </div>

    <div class="grid grid-cols-12 gap-4 my-3">
        <div class="col-span-7">
            <input type="text" placeholder="Search..." [(ngModel)]="searchText"
                   class="w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-800 dark:border-gray-100 dark:text-white">
        </div>

        <div class="col-span-5"></div>
    </div>

    <div class="overflow-x-scroll-75 mt-3">
        <div class="flex flex-wrap gap-2 justify-start">
            @for (worker of attendances | filter : searchText; track worker) {
                <div class="w-1/6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                    <div class="flex justify-end px-4 pt-4">
                        <button (click)="setItem(worker)" [matMenuTriggerFor]="menu"
                                class="inline-block text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-1.5"
                                type="button">
                            <span class="sr-only">Open dropdown</span>
                            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                 fill="currentColor" viewBox="0 0 16 3">
                                <path
                                        d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z"/>
                            </svg>
                        </button>
                    </div>
                    <div class="flex flex-col items-center pb-10">
                        <img class="w-24 h-24 mb-3 rounded-full shadow-lg"
                             src="assets/img/clock.png" alt="Clock"/>
                        <h5 class="mb-1 text-sm font-medium text-center text-gray-900 dark:text-white">
                            Asistencias del Dia <br>
                            <b>{{ worker.date }}</b>
                        </h5>
                        <span class="text-sm text-gray-500 dark:text-gray-400">
                            Numero de Trabajadores: {{ worker.total_entries }}
                        </span>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<mat-menu #menu="matMenu">
    <ul class="py-2 dark:bg-gray-800" aria-labelledby="dropdownButton">
        <li>
            <a class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
                    (click)="downloadReport()">
                <i class="fa-solid fa-plus me-2"></i>
                Descargar
            </a>
        </li>

        <li>
            <a class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
               (click)="viewDetails()">
                <i class="fa-solid fa-plus me-2"></i>
                Ver Asistencias
            </a>
        </li>
    </ul>
</mat-menu>
