<mat-stepper [linear]="true" #stepper>
    <mat-step label="Ingresar contraseña" [stepControl]="formGroup" [completed]="validPassword">
        <form [formGroup]="formGroup">
            <div class="mb-4 mt-2">
                <label for="username"
                       class="block text-sm font-bold text-gray-700 dark:text-gray-300">Contraseña</label>
                <input type="password" id="username" formControlName="password" placeholder="Contraseña"
                       class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-800 dark:border-gray-600 dark:text-white">
                <mat-error *ngIf="disableButton && form['password'].errors" class="invalid-feedback">
                    <div *ngIf="form['password'].errors['required']">Contraseña requerida</div>
                    <div *ngIf="form['password'].errors['minLength']">Debe ser de al menos 4 caracteres</div>
                </mat-error>
            </div>

            <div class="text-danger" *ngIf="incorrectPassword">Contraseña incorrecta</div>
        </form>

        <div class="d-flex justify-content-end mt-3">
            <button mat-raised-button color="primary"
                    [disabled]="disableButton || formGroup.invalid"
                    (click)="validateCurrentPassword()">
                Siguiente
            </button>
        </div>
    </mat-step>

    <mat-step label="Nueva contraseña" [stepControl]="newPasswordForm" [completed]="true">
        <form [formGroup]="newPasswordForm">
            <div class="mb-4 mt-2">
                <label for="username"
                       class="block text-sm font-bold text-gray-700 dark:text-gray-300">Contraseña</label>
                <input type="password" id="password" formControlName="password" placeholder="Contraseña"
                       class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-800 dark:border-gray-600 dark:text-white">

                <mat-error *ngIf="disableButton && formNewPassword['password'].errors" class="invalid-feedback">
                    <div *ngIf="formNewPassword['password'].errors['required']">Contraseña requerida</div>
                    <div *ngIf="formNewPassword['password'].errors['minLength']">Debe ser de al menos 4 caracteres</div>
                    <div *ngIf="!passwordMatch">Las contraseñas deben coincidir</div>
                </mat-error>
            </div>

            <div class="mb-4 mt-2">
                <label for="username"
                       class="block text-sm font-bold text-gray-700 dark:text-gray-300">Confirmar contraseña</label>
                <input type="password" id="password_confirmation" formControlName="password_confirmation"
                       placeholder="Confirmar contraseña"
                       class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-800 dark:border-gray-600 dark:text-white">

                <mat-error *ngIf="disableButton && formNewPassword['password_confirmation'].errors">
                    <div *ngIf="formNewPassword['password_confirmation'].errors['required']">Contraseña requerida</div>
                    <div *ngIf="formNewPassword['password_confirmation'].errors['minLength']">
                        Debe ser de al menos 4 caracteres
                    </div>
                    <div *ngIf="!passwordMatch">Las contraseñas deben coincidir</div>
                </mat-error>
            </div>

        </form>

        <p *ngIf="showTimer">Serás redireccionado en {{ timeLeft }}</p>

        <div class="d-flex justify-content-end mt-3">
            <button mat-raised-button color="primary" (click)="changePassword()" [disabled]="disableButton">
                Cambiar Contraseña
            </button>
        </div>
    </mat-step>

</mat-stepper>

<div class="flex justify-end">
    <div class="w-full mt-3 space-x-4">

        <button type="button" btn-color color="danger" mat-dialog-close>
            <i class="fa-solid fa-xmark mr-2"></i>
            Cerrar
        </button>
    </div>
</div>
