.dialog-content-pdf {
  height: calc(100vh - 20rem);
}

.position-sticky {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000;
}

.padding-pdf {
  padding: 10px;
}

:host ::ng-deep .mat-mdc-dialog-actions {
  padding: 0 15px 0 0 !important;
}

.no-select-text .textLayer {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
