<div class="p-3">

    <mat-progress-bar mode="indeterminate" *ngIf="loading" class="my-2"></mat-progress-bar>

    <div class="dialog-content-pdf">
        <ng2-pdfjs-viewer #pdfJsViewerComponent
                          *ngIf="!loading"
                          [viewerFolder]="pdfAssetsPath"
                          [pdfSrc]="src"
                          [openFile]="false"
                          [fullScreen]="true"
                          [diagnosticLogs]="false"
                          [download]="true"
                          [print]="true"
                          [externalWindow]="false"
                          [viewBookmark]="false"
                          viewerId="viewerpdf">
        </ng2-pdfjs-viewer>
    </div>

    <div class="flex justify-end">
        <ng-container *ngIf="verifyPayment; else simpleButton">
            <div class="w-full mt-3 space-x-4">
                <button type="submit" [disabled]="loadProcess" (click)="approvePayment(true)" btn-color color="primary">
                    <i class="fa-solid fa-floppy-disk mr-2"></i>
                    Validar
                </button>

                <button type="submit" [disabled]="loadProcess" (click)="approvePayment(false)" btn-color
                        color="warning">
                    <i class="fa-solid fa-floppy-disk mr-2"></i>
                    Denegar
                </button>

                <button type="button" [disabled]="loadProcess" btn-color color="danger" mat-dialog-close>
                    <i class="fa-solid fa-xmark mr-2"></i>
                    Cerrar
                </button>
            </div>
        </ng-container>

        <ng-template #simpleButton>
            <div class="w-full mt-3 space-x-4">
                <button type="button" btn-color color="danger" mat-dialog-close>
                    <i class="fa-solid fa-xmark mr-2"></i>
                    Cerrar
                </button>
            </div>
        </ng-template>
    </div>
</div>
