@import "assets/scss/styles";

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #9fa2a2;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

// Modals
.mat-mdc-dialog-container .mdc-dialog__surface {
  background-color: transparent !important;
  box-shadow: none !important;
}

.mat-mdc-menu-content {
  padding: 0 0 !important;
}

.mat-mdc-menu-panel {
  background-color: transparent !important;
}

.mat-elevation-z8, .mat-mdc-elevation-specific.mat-elevation-z8 {
  box-shadow: none !important;
}

.mat-mdc-dialog-container .mat-mdc-dialog-content {
  padding: 0 !important;
}

.mdc-dialog .mdc-dialog__content {
  padding: 0 !important;
}

.mdc-dialog__title {
  margin: 0 !important;
}

.mdc-dialog__title::before {
  height: 10px !important;
}

.cdk-global-scrollblock {
  overflow-y: auto !important;
}

.mat-stepper-vertical, .mat-stepper-horizontal {
  background: transparent !important;
}
